* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

#logo { 
    width: 6vw;
    margin: 2vw;
}

#avatar {
    width: 210px;
}

img{ width: 100vw;}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 79px;
}

a {
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 1.2rem;
    border-radius: 50px;
    border: solid 2px;
}

section#secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ilustracao {
    max-width: 50vw;
}
