* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto mono", serif;
    font-weight: 400;
    list-style-type: none;
}

a {
    color: unset; 
}

span {
    opacity:0;
    }

.icone-skill {
    width: 5vw;
}

#logo { 
    width: 6vw;
    margin: 2vw;
}

#avatar {
    max-width: 20vw;
    position: unset;
}

img{
    width: 80%;
   }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 79px 30px;
}

.btn {
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 1.2rem;
    border-radius: 50px;
    border: solid 2px;
}

.btn:hover{
    background-color:black;
    color:white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


section#secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
}

#ilustracao {
    max-width: 40vw;
    position: unset;
    margin: 5%;
}

section#secao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apresentacao, #capa-portifolio {
    background-color: rgb(255,201,14);
    height: auto;
    padding: 5% 15% 11%;
    text-align: center;
}

#capa-portifolio {
        height: 40vh;
}

div#skills {
    height: 50vh;
    position: absolute;
    top: -50%;
    background-color: blue;
}

div#container {
    position: relative;
    top: -100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill {width: 30%;display: flex;background-color: white;border-radius: 10px;border: outset rgb(255 201 14 / 75%);height: 40vh;padding: 2%;align-items: center;flex-direction: column;}

#container-portifolio{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cx-projeto{
    width:40vw;
    border-radius:35px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    margin:2%;
    padding: 3%;
}

h1, h2, h3 {font-weight: 600;}

h1 {font-size: 2.5rem;}

h2 {font-size: 2rem;margin-bottom: 3%;}

h3 {font-size: 1.5rem;margin: 3%;}

p {font-size: 1.5rem;max-width: 80vw;}

@media only screen and (max-width: 1049px) {    
    h1 {
    font-size:6.5vw;
    text-align:center;
    }

    h2 {
    font-size:6vw;
    text-align:center;   
    }

    p {
    font-size:3.5vw;   
    text-align:center;   
    }

    img {
    padding:2%;
    }

    li {
    font-size: 3vh;
    max-width: 70vw;
   }

#avatar {
    max-width: 40vw;
}

#logo {
    width: 18vw;
    margin: auto;
}

#ilustracao {
    max-width: 80vw;
}

div#container {
    flex-direction: column;
    top: 0%;
    width: 100vw;
    align-items: center;
    padding: 3%;
}

.skill {
    width: 90%;
    height:auto;
}

#apresentacao {
    height: fit-content;
}

#capa-portifolio {
    height: auto;
}

.cx-projeto{
    width:90vw;
}

nav {
    margin: 25px;
}

.icone-skill {
    width: 15vw;
}

    
}
